* {
    margin: 0;
    padding: 0;
    /* background-color: #ede0d4; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #7a6e6e;
}

.wrap {
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
    
}

header {
    /* border: 1px solid red; */
    width: 1200px;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    z-index: 100;
}

/* header內的logo */
header h1 {
    left: 20px;
    margin-top: 20px;
    text-align: left;
}

.logo h1 img {
    width: 300px;
}

/* header內的超連結icon */
header ul {
    display: flex;
    right: 30px;
    top: 20px;
    margin-right: 20px;
}

.box ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.box ul a {
    display: flex;
    align-items: center;

}

.box img {
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
    text-align: right;
}

/* 選單第一層 */
nav {
    /* border: 1px solid red; */
    width: 1200px;
    height: 40px;
    z-index: 110;
    border-bottom: 1px solid #7a6e6e;
   
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    float: right;
}

nav li:hover ul {
    display: block;
}

nav a {
    font-size: 14px;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #7a6e6e;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #7a6e6e;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}



/* 左邊商品圖片介紹 */
#img {
    /* border: 1px solid red; */
    width: 700px;
    height: 700px;
    transition: all 2s;  
}

#img-down{
    /* border: 1px solid red; */
    width:700px;
    height:100px;
    display: flex;
    position:absolute;
    margin-top: 720px;
    justify-content: space-between;
    
}


#img-down img{
    /* border: 1px solid red; */
    width:100px;
    height: 100px;
    margin-top: 5px;
    transition: all 1s;
}
  
#img-down img:hover{
    transform: scale(1.2, 1.2);
}

/* 右邊商品 */
.container {
    /* border: 1px solid red; */
    width:1200px;
    height: 870px;
    display: flex;
    margin-top: 30px;
    border-bottom:1px solid #ccc;
   }


/* 商品內容 */
.products-content {
    /* border: 1px solid red; */
    width:550px;
    margin-left: 50px;
}

#item01 {
    line-height: 2;
}

h5{
    margin-top: 20px;
    margin-bottom: 5px;
}

/*商品尺寸選單 */
.size-manual {
    /* border: 1px solid red; */
    width:400px;
    height: 50px;
    display: flex;
   }

#size-20,
#size-22,
#size-24 {
    /* border: 1px solid red; */
    width: 60px;
    height: 50px;
    text-align: center;   
}


.manual-btn:hover {
    background-color: #7a6e6e;
   
}


/*商品顏色選單 */
.color {
    /* border: 1px solid red; */
    width: 400px;
    height: 50px;
    display: flex;
}

#color,
#white,
#navy,
#black,
#silver,
#sky {
    /* border: 1px solid red; */
    width: 70px;
    height: 50px;
    text-align: center;
}

/*商品顏色選單按鈕 */
.button1 {
    width: 20px;
    height: 20px;
    border: 1px solid #e7e4e39b;
    background-color: #9abc99;
    color: #9abc99;
    border-radius: 50%;
}

.button1:hover {
    background-color: #72c36f;
    color: #72c36f;
    cursor: pointer;
    transition:all 1s;
  
}

.button2 {
    width: 20px;
    height: 20px;
    border: 1px solid #e7e4e39b;
    background-color: #2c2d31;
    color: #2c2d31;
    border-radius: 50%;
    transition: all 1s;
}


.button2:hover {
    background-color: #121213;
    color: #121213;
    cursor: pointer;
}

.button3 {
    width: 20px;
    height: 20px;
    border: 1px solid #e7e4e39b;
    background-color: #eae5e5;
    color: #eae5e5;
    border-radius: 50%;
    transition: all 1s;
}

.button3:hover {
    background-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.button4 {
    width: 20px;
    height: 20px;
    border: 1px solid #e7e4e39b;
    background-color: #f15d59;
    color: #f15d59;
    border-radius: 50%;
    transition: all 1s;
}

.button4:hover {
    background-color: #f23933;
    color: #f23933;
    cursor: pointer;
}

.button5 {
    width: 20px;
    height: 20px;
    border: 1px solid #e7e4e39b;
    background-color: #bad4d5;
    color: #bad4d5;
    border-radius: 50%;
    transition: all 1s;
}

.button5:hover {
    background-color: #5eccd0;
    color: #5eccd0;
    cursor: pointer;
}


/* 商品數量 */
.count ul li {
    /* border: 1px solid red; */
    /* 把連結點刪除 */
    list-style: none;
}

.quantity {
    /* border: 1px solid red; */
    width: 300px;
    height: 50px;
    margin-top:20px;
    margin-bottom:50px;
}

.btn-numbox {
    /* border: 1px solid red; */
    overflow: hidden;
   
}

.btn-numbox li {
    float: left;
}

.btn-numbox li {
    display: inline-block;
    font-size: 20px;
    color: #7a6e6e;
    vertical-align: sub;
    /* text-align: center; */
}

.btn-numbox .count {
    /* overflow: hidden; */
    margin: 0 16px 0 0px;
}

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #7a6e6e;
    border: 1px solid #7a6e6e;
    cursor: pointer;
}

.btn-numbox .count .input-num {
    width: 60px;
    height: 30px;
    color: #7a6e6e;
    border-left: 0;
    border-right: 0;
}


/* 加入購物車按鈕 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.page-wrapper {
    /* border:1px solid red; */
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrapper button {
    /* border:1px solid red; */
    width: 150px;
    background-color: #fff;
    color: #7a6e6e;
    padding: 10px 20px;
    border: 1.5px solid#7a6e6e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all .5s;
    position: relative;
    outline: none;
}

.page-wrapper button:hover {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

.page-wrapper button .cart-item {
    /* border:1px solid red; */
    position: absolute;
    height: 45px;
    width: 150px;
    top: 1px;
    right: -2px;
}

.cart {
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 12px;
}

.cart a {
    color: white;
    text-decoration: none;
}

.cart a i {
    font-size: 25px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
}

.cart:before {
    /* border:1px solid red; */
    content: attr(data-totalitems);
    font-size: 12px;
    border-radius: 24px;
    top: -5px;
    right: -5px;
    background: #000;
    color: #fff;
    padding: 4px;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: 10px;
}

.cart.shake {
    animation: shakeCart .4s ease-in-out forwards;
}


/* 商品特點 */
.p-info {
    /* border: 1px solid red; */
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid#ccc;
    margin-top: 20px;
    padding-bottom: 20px;
}

#wheel,
#strap{
      /* border: 1px solid red;  */
      margin-top: 15px;
      }

#wheel img,
#handle img,
#strap img {
    /* border: 1px solid red;  */
    background-color: #fff;
    width: 300px;
    height: 300px;    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#wheel h2,
#handle h2,
#strap h2 {
    /* border: 1px solid red; */
    line-height: 2;
    margin-top: 20px;
    text-align: center;
}

#wheel p,
#handle p,
#strap p {
    /* border: 1px solid red; */
    width: 300px;
    font-size: 12px;
    line-height: 1.5;
    padding: 20px 10px 0 10px;
    text-align: justify;
}
/* 頁尾 */
.footer {
    /* border: 1px solid red; */    
    background-color:#323232 ;
    width: 1200px;
    position: absolute;
      
}

.footer h5 {
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    margin-bottom: 20px;
    line-height: 2;
}

.footer h6 {
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    line-height: 2;
}

.footer p {
    font-size: 12px;
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    line-height: 2;
}

.footer img {
    width: 10px;
    height: 10px;
    vertical-align: center;
    background-color:#323232;
    color: hsl(0, 3%, 82%);
}

#office {
    background-color:#323232 ;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
    float: left;
}

#office span img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.store {
    background-color:#323232 ;
    width: 65%;
    float: right;
}

#store {
    margin-top: 20px;
    background-color:#323232 ;
}

.a {
    display: inline;
    text-align: right;
}


#licence {
    /* border: 1px solid red; */
    letter-spacing: 2px;
    width: 100%;
    height: 20px;
    background-color:#323232 ;
    color:  hsl(0, 3%, 82%);
    clear: both;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#licence p {
    font-size: 9px;
}


