* {
    margin: 0;
    padding: 0;
    /* background-color: #ede0d4; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

.wrap {
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
}
/* header內的icon */
header {
    /* border: 1px solid red; */
    width: 1200px;
    height:90px;    
    display: flex;  
    border-bottom: 1px solid #d3bdbd;
    justify-content: space-between;
}


/* header內的icon */
 
.box img {
    /* border: 1px solid red; */
    margin-top: 50px; 
    margin-left: 10px; 
    width: 30px;
    height: 30px;
    /* justify-content: right;
    */
 }

 .logo img {
    /* border: 1px solid red; */
    width: 300px;
    justify-content: center;
    margin-left: 300px;
    margin-top: 10px;
}

/* 選單第一層 */
nav {
    /* border: 1px solid red; */
    width: 370x;
    height: 40px;
    display: flex;
    margin-top: 50px; 
    } 

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    float: right;
}

nav li:hover ul {
    display: block;
}

nav a {
    /* border: 1px solid red; */
    font-size: 14px;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #7a6e6e;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #7a6e6e;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.container-about{
    width: 1200px;
    height:700px;
    display: flex;
    justify-content:space-between;
}

.box1 img{
    /* border: 1px solid red; */
    width: 500px;
    height: 550px;
    padding-top: 80px;
    margin-right: 50px;
   
  }

.content{
    width: 500px;
    height: 550px;
    margin-left:50px;
    margin-top:30px;
    color:#7a6e6e;
}

.content h1{
    /* border:1px solid red; */
    width:150px;
    height: 10px;
    background:hsl(0, 11%, 88%);
    padding-bottom:10px;
    text-align: top;
    
}

.chinese{
    padding-top: 40px;
    font-size: 13px;
    line-height:2;
    text-align:justify
}

.english{
    padding-top: 10px;
    font-size: 11px;
    line-height:1.5;
    text-align:justify
}


 /* 公司的售後 */

 .p-d {
    /* border: 1px solid red; */
    background-color: black;
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

#freight,
#warranty,
#quality {
    /* border: 1px solid red; */
    background-color: #323232;
    color: hsl(0, 3%, 82%);
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

#freight h2,
#warranty h2,
#quality h2 {
    padding-top: 30px;
    text-align: center;
}

#freight h4,
#warranty h4,
#quality h4 {
    padding: 30px;
    text-align: center;
}

#freight p,
#warranty p,
#quality p {
    line-height: 1.5;
    font-size: 13px;
    text-align: justify;
    text-align: center;
    padding: 0 30px 0 30px;
}



/* 頁尾 */
.footer {
    /* border: 1px solid red; */
    /* margin-top: 1000px; */
    background-color:#323232;
    width: 1200px;
    position: absolute;
      
}

.footer h5 {
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    margin-bottom: 20px;
    line-height: 2;
}

.footer h6 {
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    line-height: 2;
}

.footer p {
    font-size: 12px;
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    line-height: 2;
}

.footer img {
    width: 10px;
    height: 10px;
    vertical-align: center;
    background-color:#323232;
    color: hsl(0, 3%, 82%);
}

#office {
    background-color:#323232;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
    float: left;
}

#office span img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.store {
    background-color: #323232;
    width: 65%;
    float: right;
}

#store {
    margin-top: 20px;
    background-color: #323232;
}

.a {
    display: inline;
    text-align: right;
}


#licence {
    /* border: 1px solid red; */
    letter-spacing: 2px;
    width: 100%;
    height: 20px;
    background-color:#323232;
    color: hsl(0, 3%, 82%);
    clear: both;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#licence p {
    font-size: 9px;
}

